# Local .terraform directories
.terraform/

# Terraform state files
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl
.terraform.tfstate.lock.info
terraform.tfstate
errored.tfstate

# Crash log files
crash.log
crash.*.log

# Exclude lock file if you prefer not to track provider versions
# (але у більшості випадків краще залишати його у репозиторії)
#.terraform.lock.hcl

# Sensitive variable files
*.tfvars
*.tfvars.json



# Override files (локальні налаштування, які не мають бути у репо)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI configuration files
.terraformrc
terraform.rc

tfplan

# -------------
.env
.env.*
/docker/*
/docker
# ------------

# Kubernetes configuration files
.kube/
.kubeconfig
kubeconfig
*.kubeconfig

# Helm charts build artifacts
charts/*.tgz

# Kubernetes manifests overrides
*.override.yaml
*.override.yml

# Sensitive Kubernetes secrets
secrets.yaml
secrets.yml
*.secret.yaml
*.secret.yml

# Temporary kubectl output files
kubectl-output.log

# -- helm ignore --

# Match any file or path named .helmignore
.helmignore

# Match any file or path named .git
.git

# Match any text file
*.txt

!requirements.txt
!info_terraform.txt

# Match only directories named mydir
mydir/

# Match only text files in the top-level directory
/*.txt

# Match only the file foo.txt in the top-level directory
/foo.txt

# Match any file named ab.txt, ac.txt, or ad.txt
a[b-d].txt

# Match any file under subdir matching temp*
*/temp*

*/*/temp*
temp?

# Argo_CD ignored

.vscode/
.idea/
.DS_Store
.run/
vendor/
dist/*
ui/dist/app/*
!ui/dist/app/gitkeep
site/
*.iml
.tilt-bin/
# delve debug binaries
cmd/**/debug
debug.test
coverage.out
test-results
.scannerwork
.scratch
node_modules/
.kube/
./test/cmp/*.sock
.envrc.remote
.mirrord/
.*.swp
rerunreport.txt

# AI tools support
CLAUDE.local.md

# ignore built binaries
cmd/argocd/argocd
cmd/argocd-application-controller/argocd-application-controller
cmd/argocd-repo-server/argocd-repo-server
cmd/argocd-server/argocd-server

# ignore generated `.argocd-helm-dep-up` marker file; this should not be committed to git
reposerver/repository/testdata/**/.argocd-helm-dep-up

# add dipends of home work 8-9

# === Python / Django ===
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3
*.log
*.pot
*.pyc
*.coverage
*.mo
*.egg-info/
.env
.env.*

# Django media/static
/media/
staticfiles/
static/
*.lock

# === Virtualenv ===
venv/
django_venv/
.envrc

# === Docker ===
*.pid
*.seed
*.bak
*.swp
*.tmp
*.temp
*.out

# Docker volumes and data
postgres_data/
docker-compose.override.yml
docker-compose.override.yaml

# === Nginx ===
nginx/*.log
nginx/logs/
nginx/temp/

# === Postgres ===
*.sql
*.dump
*.backup

# === System files ===
.DS_Store
Thumbs.db
.idea/
.vscode/
*.iml

# === Coverage / Testing ===
.coverage
htmlcov/
.tox/
.pytest_cache/


# global-bundle.pem
global-bundle.pem